.sport {
  color: #333;
}

.sport:hover {
  color: #333;
}

.bold {
  font-weight: bold;
}

.r666 {
  color: #666;
}

.r666:hover {
  color: #666;
}

.log {
  background-color: #fff;
}

.wedo {
  color: blue;
}

.wedo:hover {
  color: blue;
}

.our {
  width: 30%;
}

.div {
  width: 30%;
}

.servise {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) ), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOnSxYqY44W98hbfT3fRtZBKm6UE4Tu4pkrA&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  background-position: center;
}

footer {
  background-color: rgb(28, 28, 235);
}

.sit {
  max-height: 90vh;
}

.b0 {
  left: 10rem;
  bottom: 5rem;
}

.r999 {
  color: #999;
}

.r999:hover {
  color: #999;
}

.know {
  background-color: rgb(150, 221, 42);
  border: none;
}

.fff {
  color: #fff;
}

.fff:hover {
  color: #fff;
}

.div1 {
  background-image:linear-gradient(rgba(38, 0, 255, 0.4), rgba(50,18,231, 0.4) ), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl01AEaydSLy6thQNk-kEpu1p5fQ7nUWmkMQ&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.div3 {
  background-image:linear-gradient(rgba(38, 0, 255, 0.4), rgba(50,18,231, 0.4) ), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJDb-2Rk6u_cFc_9qC1au09Zly71krvvx62w&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.div5 {
  background-image:linear-gradient(rgba(38, 0, 255, 0.4), rgba(50,18,231, 0.4) ), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsZz4HVH8gk_v_L-Rah8uVaxAM3DeW2RT14A&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.div2 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkhdkGDR_5kK1Y9wO5Zy54Qc3WH05k__fa6A&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.div4 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxadbKASsl_aeoSAIeN8lX7TSjN8a9FktaTw&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.div6 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNqTzbxMBKWTeZPDw8lFNIbcB-jXxdrFUCQ&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.katta2 div {
  width: 100%;
  height: 30vh;
  display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.katta2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
}

/* .katta7 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */
